<s!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-600">
    <nav>
        <h1 class="w-full p-4 bg-red-600 text-white font-bold text-4xl flex justify-center items-center">URL SHORTENER
        </h1>
    </nav>
    <!--! /shortUrl is the route  -->
    <form action="/shortUrl" method="POST" class="m-10 flex gap-5 flex-col items-center">
        <!-- <label for="fullUrl">Full URL</label> -->
        <!-- 'name' Attribute will be used to pass the input to the server. -->
        <input type="url" name="fullUrl" id="fullUrl" placeholder="Paste URL To Shrink"
            class="rounded px-8 py-2 outline-none text-2xl text-gray-700">
        <button type="submit" class="bg-red-600 w-24 rounded-md py-2 transition-all hover:ring-2 text-2xl font-bold text-white">Shrink</button>
    </form>

    <table class="text-white mx-auto bg-gray-500 rounded">
        <thead>
            <tr>
                <th class="p-2">Full URLs</th>
                <th class="p-2">Short URLs</th>
                <th class="p-2">Clicks</th>
            </tr>
        </thead>

        <tbody class="w-full p-5">
            <% shortUrls.forEach((shortUrl) => { %>
                <tr class="w-full">
                    <td class="p-2"><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                    <td class="p-2"><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                    <td class="p-2">
                        <%= shortUrl.clicks %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>

</html>
